* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(34, 34, 34);
    color: #fff;
    max-width: 100%
}
.icon-nav {
    width: 60px;
    height: 60px;
    margin: 5px 12px 0 12px;
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(42, 42, 42, 0.295);
    align-items: center;
    border-radius: 2px;
}

header a:hover {
    border: 10px solid black;
    color: white;
    background-color: black;
    border-radius: 5px;
}

li {
    display: inline-block;
    margin: 25px;
}

a {
    color: rgb(255, 209, 209);
    text-decoration: none;
    font-family: poppinslight;
}

main {
    display: block;
    margin-top: 11%;
    margin-left: 39%;
}

form {
    display: flex;
    flex-direction: column;
    width: 35%;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type="submit"] {
    height: 50px;
    width: 100px;
    background-color: rgba(0, 60, 255, 0.332);
    color: white;
    font-weight: bold;
    font-family: poppinsregular;

}

form [type="submit"] {
    cursor: pointer;
}

form [type="submit"]:hover {
    background-color: rgba(0, 0, 255, 0.219);
}

h2 {
    font-family: poppinssemibold;
}

p {
    font-family: poppinsregular;

}

.flash {
    margin-left: auto;
    margin-top: -114px;
    margin-bottom: 61px;
}






