<header>
  <article>
     <img class="icon-nav" src="/assets/img/icon2.png" alt="icon snake">
  </article>
  <ul>
       <li><a href="/">Login</a></li>
      <li><a href="/register">Sign Up!</a></li>
  </ul>
</header>